---
layout: page
---

<!-- let it create a app for you -->
<link rel="manifest" href="manifest.webmanifest">

{% include topimage.html %}

{% include ga.html %}

<div>
    <p>
        Hi! I am Madhusoodan and this is the place where I share my thoughts, experiments, hacks, and random insights. Right now I am learning ML by reading papers and reproducing the results (my <a href="/ml/2025/12/23/paper-list.html">paper list</a>). Hit me up on <a href="https://x.com/mmpataki">x.com</a> if you have something interesting to discuss.
    </p>
</div>

<br />

<div style="width: 100%; min-height: 300px;">
{% include pagination.html %}
</div>
