html, body, pre, code, div, .highlight, .highlighter-rouge, language-html {
    /* background-color: black;
    color: white; */
}

code, pre {
    font-family: 'Jetbrains Mono' 'Cascadia Mono' monospace;
    font-size: 13px;
}


.highlighter-rouge .highlight, code, pre {
    background-color: #f9f8f9;
}


.readtime, .fa, .postpage-tag, .postpage-date {
    font-size: 0.85em;
}

.postpage-tag {
    font-size: 0.8em;
    font-weight: bold;
}

.wrapper {
    max-width: 900px;
}