<div class="wrapper" style="border-top: solid 1px gray; width: 100%">
    <div class="footer-col-wrapper" style="margin-top: 20px">
        <center style="margin: 15px">
            <a href="https://github.com/mmpataki"><svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                </svg></a>
            <a href="https://www.twitter.com/mmpataki"><svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                </svg></a>
            <a href="https://www.linkedin.com/in/madhusoodan-pataki"><svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
                </svg></a>
        </center>

        <center>
            <span>Copyright &copy; 2015</span>
            <br>
            <span>All rights reserved.</span>
            <br><br>
        </center>
    </div>
</div>